/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.logo {
  animation: flicker 6s infinite;
}
