.timeline {
  position: relative;
  padding-left: 40px;
  border-left: 2px solid #ccc;
}
.timeline-item {
  position: relative;
  margin-bottom: 20px;
}
.timeline-icon {
  // position: absolute;
  // left: -24px;
  // top: 0;
  // background-color: #ccc;
  // color: white;
  // width: 24px;
  // height: 24px;
  // border-radius: 50%;
  // text-align: center;
  // line-height: 24px;
  // font-weight: bold;
  // font-size: 14px;

  // width: 200px; /* 原本24px，可以放大 */
  // height: 200px;
  // line-height: 40px;
  font-size: 12px; /* 可調整文字大小 */
  border-radius: 10px;  /* 或 0，變方形或略圓角 */
  min-width: 60px;      /* 寬度撐開，能放下時間字串 */
  padding: 2px 8px;     /* 文字左右內邊距 */
  white-space: nowrap;  /* 不換行 */
  text-align: center;
}
.timeline-content {
  padding: 5px 10px;
}
