.timeline {
  position: relative;
  padding-left: 40px;
  border-left: 2px solid #ccc;
}
.timeline-item {
  position: relative;
  margin-bottom: 20px;
}
.timeline-icon {
  position: absolute;
  left: -24px;
  top: 0;
  background-color: #ccc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
}
.timeline-content {
  padding: 5px 10px;
}
